*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.page {
  position: absolute;
  top: 0;
  background-color: #111;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
  color: #eee;
}

#page-left {
  right: 0;
}

#page-right {
  background-color: #eee;
  left: 100%;
  color: #111;
}

#page-button {
  position: absolute;
  bottom: 50%;
  translate: 0 50%;
  background-color: #eee;
  width: 40px;
  height: 40px;
  right: 5%;
  opacity: 30%;
  transition: 0.3s ease-in-out;
  outline: none;
  border: none;
  box-shadow: 0 0 10px #eee;
  border-radius: 100px;
  cursor: pointer;
}

#page-button.showing {
  opacity: 100%;
}

#page-button.animating {
  animation: btn-animation 1s;
}

@keyframes btn-animation {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 30%;
  }
}
